<%- include('../partials/head.ejs')%> 
<title>Archive</title>
<%-include('../partials/after-head.ejs')%> 
<%- include('../partials/archive-nav.ejs')%>
<main>

</main>
<%- include('../components/categories.ejs')%> 
<%- include('../components/articles.ejs')%>