<%- include('../partials/head.ejs')%> 
<title>Newsbox</title>
<%- include('../partials/after-head.ejs')%> 
<%- include('../partials/newsbox-nav.ejs')%>
<script src="/assets/js/searchBar.js"></script>
<main></main>
<%- include('../components/categories.ejs')%> 
<%- include('../components/articles.ejs')%>
